.con5 {
  /* align-items: center; */
  justify-content: center;
  /* display: flex; */
  padding-bottom: 2cm;
  width: 100%;
}
.head4 {
  color: rgb(168, 255, 37);
  font-size: xx-large;
}
.icon3 {
  height: 6cm;
  width: 6cm;
  margin-top: 1cm;
  border-radius: 3cm;
}
.view {
  --background-color: yellow;
  --background-color-dark: black;

  /* background-color: yellow; */
  width: 12cm;
  height: 2cm;
  box-shadow: 10px 10px black;
  /* margin-right: -10cm; */
  margin-top: 1.5cm;
  /* float: right; */
  font-size: 1.25rem;
  background-color: yellow;
  box-shadow: 6px 6px 0 #000;

  padding: 10px 16px;
  font-size: xx-large;
  font-weight: bold;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.contain {
  flex-direction: column;
  width: 80%;
  background-color: #fbf8f8;
  margin-left: 3.9cm;
  margin-top: 2cm;
  padding-bottom: 2cm;
  border: solid 1px;
  border-radius: 0.3cm;
}
.e{
    color: brown;
}